black==21.5b1
flake8>=3.7.9, <4.0
ipython==7.10
isort~=5.0
jupyter~=1.0
jupyter_client>=5.1, <7.0
jupyterlab~=3.0
jupyter_contrib_nbextensions
kedro==0.17.4
kedro-telemetry~=0.1.0
nbstripout~=0.4
pytest-cov~=2.5
pytest-mock>=1.7.1, <2.0
pytest~=6.2                 # unit testing
wheel>=0.35, <0.37
prompt-toolkit==2.0.10
scipy                       # etl and data wrangling
pandas                      # etl and data wrangling
scikit-learn                # preprocessing and classical ML
tensorflow                  # deep learning
kedro-viz                   # pipeline viz
kedro-mlflow                # experiment tracking
pyyaml                      # config
matplotlib                  # data viz
ipdb
seaborn