black==21.5b1           # formatting
flake8>=3.7.9, <4.0     #
ipython==7.10
isort~=5.0
jupyter~=1.0
jupyter_client>=5.1, <7.0
jupyterlab~=3.0
jupyter_contrib_nbextensions
kedro==0.17.4
kedro-telemetry~=0.1.0
nbstripout~=0.4
pytest-cov~=2.5
pytest-mock>=1.7.1, <2.0
pytest~=6.2                 # unit testing
wheel>=0.35, <0.37
prompt-toolkit==2.0.10
scipy==1.5.4                # etl and data wrangling
pandas==1.1.5               # etl and data wrangling
scikit-learn==0.24.2        # preprocessing and classical ML
tensorflow==2.6.0           # deep learning
kedro-viz==3.15.0           # pipeline viz
kedro-mlflow==0.7.4         # experiment tracking
pyyaml==5.4.1               # config
matplotlib==3.3.4           # data viz
seaborn==0.11.2             # data viz